@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*,
*::before,
*::after {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
footer {
  width: 100%;
  background-color: #232323;
  padding: 50px;
  text-align: center;
}
.footer-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 2px solid #fff;
}
.footer-about h3 {
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 600;
}
.footer-about p {
  max-width: 1600px;
  color: #7796b3;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}
.social-links a {
  transition: all 0.3s ease-in-out;
}
.social-links a:hover {
  transform: translateY(-7px);
}
.social-links img {
  width: 35px;
  height: 35px;
}
.footer-contact {
  display: flex;
  justify-content: space-around;
}
.footer-contact-box h4 {
  font-size: 18px;
  letter-spacing: 2px;
}
.footer-contact-box p {
  line-height: 2.4;
  color: #7796b3;
}
.footer-copyright {
  margin-top: 50px;
  color: #7796b3;
}